alabaster==0.7.8
amqp==1.4.9
ansi==0.1.3
anyjson==0.3.3
apipkg==1.4
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
billiard==3.3.0.23
bottle==0.12.9
celery==3.1.23
cffi==1.6.0
click==6.6
colorama==0.3.7
colorlog==2.6.3
coverage==4.1
cryptography==1.3.2
cycler==0.10.0
decorator==4.0.9
Django==1.9.6
django-autofixture==0.12.1
django-bootstrap==0.2.4
django-bootstrap3==7.0.1
django-extensions==1.6.7
django-phonenumber-field==1.1.0
dnspython3==1.12.0
docutils==0.12
entrypoints==0.2.2
errbot==4.1.3
execnet==1.4.1
facebook-sdk==1.0.0
flaky==3.1.1
idna==2.1
imagesize==0.7.1
inflect==0.2.5
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.1.5
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
kombu==3.0.35
livereload==2.4.1
Markdown==2.6.6
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.2
mock==2.0.0
nbconvert==4.2.0
nbformat==4.0.1
notebook==4.2.1
numpy==1.11.0
pandas==0.18.1
pbr==1.9.1
pep8==1.7.0
pexpect==4.1.0
phonenumberslite==7.4.1
pickleshare==0.7.2
Pillow==3.2.0
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pycparser==2.14
Pygments==2.1.3
pygments-markdown-lexer==0.1.0.dev39
pymongo==3.2.2
pyOpenSSL==16.0.0
pyparsing==2.1.4
pyreadline==2.1
pytest==2.9.1
pytest-xdist==1.14
python-dateutil==2.5.3
pytz==2016.4
pyzmq==15.2.0
qtconsole==4.2.1
requests==2.10.0
rocket-errbot==1.2.5
silly==1.1.0
simplegeneric==0.8.1
six==1.10.0
slackclient==1.0.0
snowballstemmer==1.2.1
Sphinx==1.4.2
terminado==0.6
threadpool==1.3.2
tornado==4.3
traitlets==4.2.1
virtualenv==15.0.1
virtualenvwrapper-win==1.2.1
waitress==0.9.0
WebOb==1.6.0
websocket-client==0.37.0
WebTest==2.0.21
widgetsnbextension==1.2.3
Yapsy==1.11.223
